<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.multimodule">

    <queries>
        <package android:name="com.example.pagingtest" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_background"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.PagingService">

        <service
            android:name="com.example.multimodule.AIDLService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.AIDLService" />
            </intent-filter>
        </service>
    </application>
</manifest>